.sidebar {
    width: 130px;
    height: 100vh;
    color: #fff;
    border-right: solid 2px #303A44;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.3s ease-in-out;

    &.mobile {
        transform: translateX(0);
    }

    .profile-circle {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .profile-circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logout-btn {
        background-color: transparent;
        color: #fff;
        border: 2px solid #303A44;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .line {
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 3px;
        }
    }

    .newChat {
        background-color: #303A44;
        border: none;
        border-radius: 50%; // Makes it a circle
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0;

        &:hover {
            background-color: darken(#303A44, 10%); // Darken the background color on hover
        }

        svg {
            color: white;
            font-size: #303A44;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .seperator {
        height: 1px;
        background-color: #303A44;
        width: 20%;
    }
}


@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        border-bottom: solid 2px #303A44;


        .logout-btn {
            background-color: transparent;
            color: #fff;
            border: 1.5px solid #535353;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        .seperator {
            display: none;
        }

        .newChat {
            background-color: #5c5c5c;
            width: 3rem;
            height: 3rem;
        }
    }
}