.container-nav {
    max-width: 95rem;
    /* Converted from 1200px to rem */
    margin: 0 auto;
    padding: 0 1.25rem;
    /* Converted from 20px to rem */
}

.btn-primary {
    background-color: white;

}

.navbar {
    background-color: #303A44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6rem 1.2rem 6rem;
    position: relative;


    &__left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__logo {
        width: 50px;
    }

    &__links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 2rem;

        li {
            display: inline-block;
            margin-right: 20px;
            font-weight: 500;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__right {
        .navbar__signin {
            padding: 10px 20px;
            background-color: white;
            color: white;
            border: none;
            border-radius: 22px;
            cursor: pointer;
        }


    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        &__left {
            margin-bottom: 10px;
        }

        &__links li {
            display: block;
            margin-bottom: 10px;
        }

        &__right {
            margin-top: 10px;
        }
    }

    .navbar__logo {
        width: 80px;

    }
}